.leftbar{
    border-left: 10px solid #FABB18!important;
    padding: 0 16px;
}
.text-title{
    color: black;
    font-size: 20px;
    /* font-weight: bold; */
    margin-bottom: 5px;
}
.content-wrapper {
    background-color: white;
}
.btn-m{
    margin: 2px 2px;
}
i{
    width: 16px;
    height: 16px;
}

/* .preview-table{
    visibility: hidden;
} */