<div class="content-wrapper">

    <section class="content mt-4">
        <div class="container-fluid">
            <div class="leftbar">
                <p class="text-title">Import Time Attendant</p>
            </div>
            <hr>
            <div class="d-flex justify-content-center mt-4">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="font-weight-bold">Choose a file to upload.</h5>
                        <p>CSV, XLSX file types are allowed. <span class="text-danger">(1 File Per Upload)</span></p>
                        
                        <form #from="ngForm" (ngSubmit)="AddImport($event)">
                        <div class="input-group">
                            <!-- Upload Excel-->
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile04" (change)="onFileChang($event)" multiple="flase" #fileUpload>
                              <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">
                              <button class="btn btn-outline-primary" type="button" (click)="onPreviewClick($event)">Preview Data</button>
                            </div>
                        </div>
                        <!-- table example Exel file -->
                        <div id="Preview_wrapper" class="Preview_wrapper dt-bootstrap4 mt-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="table_Preview_data" class="table table-bordered table-striped dataTable dtr-inline preview-table font-md"
                                        aria-describedby="Preview_info">
                                        <thead>
                                            <tr>
                                              <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Employee No.
                                              </th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="Browser: activate to sort column ascending">Name</th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending">Date</th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="Engine version: activate to sort column ascending">Time In</th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="CSS grade: activate to sort column ascending">Time Out</th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="CSS grade: activate to sort column ascending">Site Start Time
                                            </th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="CSS grade: activate to sort column ascending">Site Stop Time
                                            </th>
                                              <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                                aria-label="CSS grade: activate to sort column ascending">Project Name
                                            </th>
                                              
                                            </tr>
                                          </thead>
                                        <ng-template ngFor let-row [ngForOf]="dataImport"> 
                                            <tr>
                                                <td [ngStyle]="{'background-color' : row.employeeID_ErrorMsg == '' ? '#FFFFFF' : '#FF0000'}" [title]="row.employeeID_ErrorMsg">
                                                    {{row.employeeID}}
                                                </td>
                                                <td [ngStyle]="{'background-color' : row.employeeFullName_ErrorMsg == '' ? '#FFFFFF' : '#FF0000'}" [title]="row.employeeFullName_ErrorMsg">
                                                    {{row.employeeFullName}}
                                                </td>
                                                <td [ngStyle]="{'background-color' : row.workDate_ErrorMsg == '' ? '#FFFFFF' : '#FF0000'}" [title]="row.workDate_ErrorMsg">
                                                    {{row.workDate | date: 'dd/MM/yyyy' }}
                                                </td>
                                                <td [ngStyle]="{'background-color' : row.workOnSiteStart_ErrorMsg == '' ? '#FFFFFF' : '#FF0000'}" [title]="row.workOnSiteStart_ErrorMsg">
                                                    {{row.workOnSiteStart}}
                                                </td>
                                                <td [ngStyle]="{'background-color' : row.workOnSiteStop_ErrorMsg == '' ? '#FFFFFF' : '#FF0000'}" [title]="row.workOnSiteStop_ErrorMsg">
                                                    {{row.workOnSiteStop}}
                                                </td>
                                                <td [ngStyle]="{'background-color' : row.siteStartTime_ErrorMsg == '' ? '#FFFFFF' : '#FF0000'}" [title]="row.siteStartTime_ErrorMsg">
                                                    {{row.siteStartTime}}
                                                </td>
                                                <td [ngStyle]="{'background-color' : row.siteStopTime_ErrorMsg == '' ? '#FFFFFF' : '#FF0000'}" [title]="row.siteStopTime_ErrorMsg">
                                                    {{row.siteStopTime}}
                                                </td>
                                                <td [ngStyle]="{'background-color' : row.projectName_ErrorMsg == '' ? '#FFFFFF' : '#FF0000'}" [title]="row.projectName_ErrorMsg">
                                                    {{row.projectName}}
                                                </td>
                                              
                                            </tr>
                                           
                                        </ng-template>
                                    </table>
                                    <div class="d-flex justify-content-center mt-3">
                                        <button type="reset" class="btn btn-default mr-2" (click)="reset($event)" >Cancel</button>
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                        <!-- table example Exel file -->
                    </div>
                </div>
            </div>
            
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                            aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example1"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">
                                        Request ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1" aria-label="Browser: activate to sort column ascending">
                                        Upload by</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                        Upload date</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1"
                                        aria-label="Engine version: activate to sort column ascending">
                                        Customer Site</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                        colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                        Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd" *ngFor="let import of imports">
                                    <td class="dtr-control sorting_1 text-center" tabindex="0">{{import.importID}}</td>
                                    <td>{{import.uploadBy}}</td>
                                    <td>{{import.uploadDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{import.currentLeaveState}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-m"><i class="fas fa-check"></i></button>
                                        <button type="button" class="btn btn-danger btn-m"><i class="fas fa-times"></i></button>
                                        <button type="button" class="btn btn-secondary btn-m"><i class="fas fa-search"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                   
                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing
                            1 to 10 of 57 entries
                        </div>
                    
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="example1_previous">
                                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0"
                                        class="page-link">Previous</a>
                                </li>
                                <li class="paginate_button page-item active"><a href="#"
                                        aria-controls="example1" data-dt-idx="1" tabindex="0"
                                        class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                        data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                        data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                        data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                        data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="example1"
                                        data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item next" id="example1_next"><a href="#"
                                        aria-controls="example1" data-dt-idx="7" tabindex="0"
                                        class="page-link">Next</a></li>
                            </ul>
                        </div>
                    
                </div>
            </div>
            <!-- test here -->

            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input matInput placeholder="Filter" (keyup)="Filterchange($event)">
                        </mat-form-field>
            
                        <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 w-100">

                            <ng-container matColumnDef="importID">
                              <th mat-sort-header  mat-header-cell *matHeaderCellDef> Request ID </th>
                              <td mat-cell *matCellDef="let element"> {{element.importID}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="uploadBy">
                              <th mat-header-cell *matHeaderCellDef> uploadBy </th>
                              <td mat-cell *matCellDef="let element"> {{element.uploadBy}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="uploadDate">
                              <th mat-sort-header  mat-header-cell *matHeaderCellDef> uploadDate </th>
                              <td mat-cell *matCellDef="let element"> {{element.uploadDate | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>
                          
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="leaveStatus">
                              <th mat-header-cell *matHeaderCellDef> leaveStatus </th>
                              <td mat-cell *matCellDef="let element"> {{element.leaveStatus}} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action</th>
                                <td mat-cell *matCellDef="let element">
                                    <button (click)="AprooveData(element.importID)" type="button" class="btn btn-success btn-m"><i class="fas fa-check"></i></button>
                                    <button type="button" class="btn btn-danger btn-m"><i class="fas fa-times"></i></button>
                                    <button type="button" class="btn btn-secondary btn-m"><i class="fas fa-search"></i></button>
                                </td>
                            </ng-container>
                            
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr (click)="getrow(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                          
                          <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
            
                          </mat-paginator>
                    </div>
                </div>
            </div>

            
              <!-- test here -->
              
        </div>
        
    </section>

</div>