<div class="content-wrapper">
    <section class="content mt-4">
        <div class="card card-primary">
            <div class="card-header">
            <h3 class="card-title">Add New Request</h3>
            </div>
    
            <form>
                <div class="card-body">
                    <div class="col-sm-12">

                    
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">First Name</label>
                                <input type="fname" class="form-control" id="fname" placeholder="First name" disabled>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">Last Name</label>
                                <input type="fname" class="form-control" id="fname" placeholder="Last name" disabled>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">Employee No.</label>
                                <input type="fname" class="form-control" id="fname" placeholder="889908" disabled>
                            </div>
                        </div>
                         
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group" data-select2-id="38">
                                <label>Request</label>
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1"  aria-hidden="true">
                                
                                <option data-select2-id="39">Time Correcting</option>
                                <option data-select2-id="40">Leave</option>
                                <option data-select2-id="41">Delaware</option>
                                <option data-select2-id="42">Tennessee</option>
                                <option data-select2-id="43">Texas</option>
                                <option data-select2-id="44">Washington</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group" data-select2-id="38">
                                <label>Site</label>
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                
                                <option data-select2-id="39">CSI(Thailand)</option>
                                <option data-select2-id="40">California</option>
                                <option data-select2-id="41">Delaware</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group" data-select2-id="38">
                                <label>Workplace</label>
                                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option data-select2-id="39">CSI Site</option>
                                <option data-select2-id="40">California</option>
                                <option data-select2-id="41">Delaware</option>
                                </select>
                                
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-8">
                        <div class="form-group">
                            <label>Date and time range:</label>
                            <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                            <input type="text" class="form-control float-right" id="reservationtime">
                            </div>
                            
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label>Reason</label>
                            <textarea class="form-control" rows="3" cols="80" placeholder="Enter ..." style="height: 97px;"></textarea>
                            </div>
                    </div>
                </div>
                </div>
                    <!-- footer -->
                    <div class="card-footer">
                        <div class="float-left">
                            <button type="submit" routerLink="/request-management" class="btn btn-primary">
                                <i class="fas fa-arrow-left"></i>
                                 Previous
                                </button>
                        </div>
                        <div class="float-right">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-check"></i>
                                 Confirm
                                </button>
                        </div>
                        
                    </div>
            </form>
            
    </div>
</section>
</div>


<script>

</script>