<div class="content-wrapper">

    <section class="content mt-4">
        <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            
                            <div class="media">
                                <img class="align-self-center mr-5 rounded" src="assets/img/profile1.png"
                                    alt="User image">
                                <div class="media-body">
                                    <p class="mt-0 text-title">Name : <span class="text-detail">Sawakorn
                                            Silapawanont</span></p>
                                    <p class="text-title">EmployeeNo : <span class="text-detail">890341</span></p>
                                    <p class="text-title">Organization / Position : <span
                                            class="text-detail">BEST/Internship</span></p>
                                    <p class="mb-0 text-title">Email Address : <span
                                            class="text-detail">sawakorn@csithai.com</span></p>

                                </div>
                            </div>
                        </div>
                </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="info-box ">
                                        <span class="info-box-icon bg-info"><i class="far fa-calendar-check color-main"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">On Time</span>
                                            <span class="info-box-number">14</span>
                                        </div>   
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info"><i class="far fa-clipboard color-main"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text"> Late (Early)</span>
                                            <span class="info-box-number">0</span>
                                        </div>   
                                    </div>
                                </div>
                            
                                <div class="col-3">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info"><i class="far fa-calendar-check color-main"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Leave</span>
                                            <span class="info-box-number">1</span>
                                        </div>   
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info"><i class="far fa-calendar-times color-main"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Absent</span>
                                            <span class="info-box-number">2</span>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                    
        </div>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-columns mr-1"></i>
                        Leave Summary By Year
                    </h3>
                </div>

                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline"
                                    aria-describedby="example1_info">
                                    <thead style="">
                                        <tr>
                                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example1"
                                                rowspan="1" colspan="1" aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending" style="width: 189px; text-align: center;">
                                                Leave Type</th>
                                            <th tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Browser: activate to sort column ascending text-align: center;">
                                                Approved <span style="color: red;">(dd/hr/min)</span></th>
                                            <th  tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 189px; text-align: center;">
                                                Wait for Approved <span style="color: red;">(dd/hr/min)</span></th>
                                            <th  tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1"
                                                aria-label="Engine version: activate to sort column ascending" style="width: 189px; text-align: center;">
                                                Engine Total Leave <span style="color: red;">(dd/hr/min)</span></th>
                                            <th  tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 189px;text-align: center;">
                                                Total Leave Limited <span style="color: red;">(dd/hr/min)</span></th>
                                            <th class="w1" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1 text-left" tabindex="0">AL - Annual Leave</td>
                                            <td>02 / 00 / 00</td>
                                            <td>-- / -- / --</td>
                                            <td>02 / 00 / 00</td>
                                            <td>02 / 00 / 00</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </tr>
                                        <tr class="even">
                                            <td class="dtr-control sorting_1 text-left" tabindex="0">Bel - Bereavement Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1 text-left" tabindex="0">CoL - Commencement Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                        <tr class="even">
                                            <td class="dtr-control sorting_1 text-left" tabindex="0">FL - Floating Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control text-left">Mil - Military Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control text-left">OT - Other Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control text-left">PL - Private Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control text-left">PtL - Priesthood Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control text-left">SL - Sick Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control text-left">WdL - Wedding Leave</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <td>-- / -- / --</td>
                                            <button type="button btn-center" class="btn btn-secondary btn-m" style="display: block; margin: auto;">
                                                <i class="fas fa-search"></i>
                                            </button>                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>